{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="">
        Nombre d'enfants : {{ nbChild }}<br>
        Nombre de parents : {{ nbParent }}<br>
        Nombre d'administrateur : {{ nbAdmin }}
    </div>
{% endblock %}
