{% extends 'base.html.twig' %}

{% block title %}Hello BookingController!{% endblock %}
{% block stylesheets %}

{% endblock %}
  
{% block body %}
    <table class="table table-bordered table-striped">
        <tr>
            <th scope="col">Enfant</th>
            <th scope="col">Dates</th>
        </tr>

        {% for child in app.user.child %}
        <tr>
            <td>{{ child.firstname }} {{ child.lastname }}</td>
            <td>
                {% for booking in child.booking %}

                    {{ booking.date|date('d/m/Y')}}</br>

                {% endfor %}
            </td>
        {% endfor %}
        </tr>
    </table>
{% endblock %}